In [1]:
import math
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
allSectors = json.load(open("sectors.json",'r'))

#Get a list of all tickers
tickers = []
for sector in allSectors:
    for industry in allSectors[sector]:
        for ticker in allSectors[sector][industry]:
            tickers.append(ticker)

len(tickers)

3390

In [2]:
def getAllData(tickers):
    anchorData = yf.download(tickers, start = "2020-01-01")
    anchorData.head()
    closingPrices = anchorData["Close"]
    closingPrices.to_csv("latestClose.csv")
    closingPrices = pd.read_csv("latestClose.csv")
    return closingPrices

def getSearchRange(start, end):
    return closingPrices[closingPrices['Date'].between(start, end)]

closingPrices = getAllData(tickers)

[*********************100%***********************]  3390 of 3390 completed

26 Failed downloads:
- GEF/B: No timezone found, symbol may be delisted
- BF/A: No timezone found, symbol may be delisted
- CWEN/A: No timezone found, symbol may be delisted
- HEI/A: No timezone found, symbol may be delisted
- CDEV: No timezone found, symbol may be delisted
- LEN/B: No timezone found, symbol may be delisted
- AKO/B: No timezone found, symbol may be delisted
- BML/PL: No timezone found, symbol may be delisted
- C/PK: No timezone found, symbol may be delisted
- LGF/B: No timezone found, symbol may be delisted
- BF/B: No timezone found, symbol may be delisted
- MOG/A: No timezone found, symbol may be delisted
- LGF/A: No timezone found, symbol may be delisted
- GRP/U: No timezone found, symbol may be delisted
- GLOP/PA: No timezone found, symbol may be delisted
- NFGFF: No timezone found, symbol may be delisted
- MS/PA: No timezone found, symbol may be delisted
- BRK/B: No timezone found, symbol may be delisted
- ALL/PB: No timezone found, symbol may be delisted
- BRK/A: No timezone found, symbol may be delisted
- AKO/A: No timezone found, symbol may be delisted
- MKC/V: No timezone found, symbol may be delisted
- WFC/PL: No timezone found, symbol may be delisted
- EBR/B: No timezone found, symbol may be delisted
- CIG/C: No timezone found, symbol may be delisted
- PBR/A: No timezone found, symbol may be delisted

In [7]:
closingPrices.tail()

,Date,A,AA,AAL,AAN,AAON,AAP,AAPL,AAT,AAWW,...,ZNH,ZNTL,ZS,ZTO,ZTS,ZUMZ,ZUO,ZWS,ZYME,ZYXI
793,2023-02-27 00:00:00-05:00,142.179993,48.040001,15.630000,14.28,81.489998,140.630005,147.919998,25.450001,101.360001,...,35.139999,18.750000,131.839996,24.200001,165.470001,23.200001,8.56,23.010000,8.38,12.83
794,2023-02-28 00:00:00-05:00,141.970001,48.939999,15.980000,14.35,90.959999,144.960007,147.410004,25.230000,100.809998,...,36.009998,18.930000,131.149994,24.059999,167.000000,23.260000,8.47,23.000000,8.22,12.92
795,2023-03-01 00:00:00-05:00,137.509995,51.650002,16.030001,14.40,90.570000,138.820007,145.309998,25.090000,100.650002,...,36.090000,18.870001,128.440002,24.299999,167.570007,23.209999,8.20,22.400000,8.01,12.85
796,2023-03-02 00:00:00-05:00,141.669998,53.689999,16.120001,12.37,91.360001,139.210007,145.910004,24.900000,100.339996,...,37.549999,19.160000,134.130005,24.230000,168.580002,23.400000,9.63,23.070000,8.00,12.61
797,2023-03-03 00:00:00-05:00,143.929993,55.520000,16.360001,12.78,93.919998,138.479996,151.029999,24.830000,99.820000,...,37.529999,19.500000,119.239998,24.719999,170.559998,23.549999,10.02,23.110001,8.01,12.69