In [1]:
import math
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
allSectors = json.load(open("sectors.json",'r'))

#Get a list of all tickers 
tickers = []
for sector in allSectors:
    for industry in allSectors[sector]:
        for ticker in allSectors[sector][industry]:
            tickers.append(ticker)

len(tickers)

3390

In [2]:
def getAllData(tickers):
    anchorData = yf.download(tickers, start = "2021-01-01")
    anchorData.head()
    closingPrices = anchorData["Close"]
    closingPrices.to_csv("latestClose.csv")
    closingPrices = pd.read_csv("latestClose.csv")
    return closingPrices

def getSearchRange(start, end):
    return closingPrices[closingPrices['Date'].between(start, end)]

closingPrices = getAllData(tickers)

[*********************100%***********************]  3390 of 3390 completed

35 Failed downloads:
- UMPQ: No data found, symbol may be delisted
- EBR/B: No timezone found, symbol may be delisted
- HEI/A: No timezone found, symbol may be delisted
- CDEV: No timezone found, symbol may be delisted
- GET: No data found, symbol may be delisted
- LGF/A: No timezone found, symbol may be delisted
- RFP: No data found, symbol may be delisted
- MOG/A: No timezone found, symbol may be delisted
- C/PK: No timezone found, symbol may be delisted
- GLOP/PA: No timezone found, symbol may be delisted
- ALL/PB: No timezone found, symbol may be delisted
- BRK/A: No timezone found, symbol may be delisted
- COWN: No data found, symbol may be delisted
- ALBO: No data found, symbol may be delisted
- PBR/A: No timezone found, symbol may be delisted
- WFC/PL: No timezone found, symbol may be delisted
- GEF/B: No timezone found, symbol may be delisted
- CIG/C: No timezone found, symbol may be delisted
- CEA: No data found, symbol may be delisted
- LEN/B: No timezone found, symbol may be delisted
- MKC/V: No timezone found, symbol may be delisted
- CWEN/A: No timezone found, symbol may be delisted
- BF/B: No timezone found, symbol may be delisted
- LGF/B: No timezone found, symbol may be delisted
- AKO/A: No timezone found, symbol may be delisted
- AKO/B: No timezone found, symbol may be delisted
- CAJ: No data found, symbol may be delisted
- BRK/B: No timezone found, symbol may be delisted
- NFGFF: No timezone found, symbol may be delisted
- CNCE: No data found, symbol may be delisted
- BF/A: No timezone found, symbol may be delisted
- ZNH: No data found, symbol may be delisted
- MS/PA: No timezone found, symbol may be delisted
- BML/PL: No timezone found, symbol may be delisted
- GRP/U: No timezone found, symbol may be delisted

In [3]:
closingPrices.tail()

,Date,A,AA,AAL,AAN,AAON,AAP,AAPL,AAT,AAWW,...,ZNH,ZNTL,ZS,ZTO,ZTS,ZUMZ,ZUO,ZWS,ZYME,ZYXI
587,2023-05-04 00:00:00-04:00,133.880005,34.380001,13.51,11.89,96.279999,120.239998,165.789993,18.670000,NaN,...,NaN,21.980000,87.739998,27.190001,178.470001,16.129999,7.34,21.25,8.49,9.37
588,2023-05-05 00:00:00-04:00,133.300003,36.150002,13.87,12.34,103.260002,123.769997,173.570007,18.910000,NaN,...,NaN,22.290001,89.459999,27.770000,186.229996,16.469999,7.55,21.48,8.64,9.37
589,2023-05-08 00:00:00-04:00,132.449997,36.820000,14.36,12.35,96.949997,125.750000,173.500000,18.879999,NaN,...,NaN,21.860001,107.919998,28.299999,184.869995,16.530001,7.75,21.48,8.76,9.55
590,2023-05-09 00:00:00-04:00,127.349998,36.509998,14.47,12.58,96.680000,125.519997,171.770004,18.850000,NaN,...,NaN,22.809999,110.044998,28.350000,184.369995,16.139999,7.75,21.26,9.88,9.65
591,2023-05-10 00:00:00-04:00,128.059998,36.139999,14.34,12.62,97.139999,125.800003,173.554993,18.940001,NaN,...,NaN,24.389999,116.790001,28.750000,185.139999,15.860000,7.97,21.35,9.69,9.61